@tailwind base;
@tailwind components;
@tailwind utilities;

.infiniteScroll {
    animation: scroll infinite 3s ease step-start;
  }
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(-100%);
    }
  }