:root {
  --font-family-boring: "Space Grotesk", sans-serif;
  --font-family-eighties: "Press Start 2P", system-ui;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url(/fonts/SpaceGrotesk-VariableFont_wght.woff2) format('woff2');
  font-optical-sizing: auto;
  font-style: normal;
}
@font-face {
  font-family: "PressStart2P";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/PressStart2P-Regular.woff2) format('woff2');
}
body{
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
}
.boring-mode {
  font-family: "SpaceGrotesk";
}
.eighties-mode {
  font-family: "PressStart2P";
}
.bgReact{
  background: radial-gradient(circle at 50% 50%, rgba(0, 138, 206, 1) 0%, rgba(0, 44, 65, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

  .infiniteScroll {
    animation: scroll infinite 13s ease;
  }
  @keyframes scroll {
    0% {
      left: 100%;
    }
  
    100% {
      left: -100%;
    }
  }