@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');
:root {
  --font-family-boring: "Space Grotesk", sans-serif;
  --font-family-eighties: "Press Start 2P", system-ui;
}
body{
    background-color: #000000;
    color: #ffffff;
    font-family: var(--font-family-boring);
    font-weight: 400;
    overflow-x: hidden;
}
.boring-mode {
  font-family: var(--font-family-boring);
}

.eighties-mode {
  font-family: var(--font-family-eighties);
}
.sora{
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .infiniteScroll {
    animation: scroll infinite 13s ease;
  }
  @keyframes scroll {
    0% {
      left: 100%;
    }
  
    100% {
      left: -100%;
    }
  }