---
import Layout from "../layouts/Layout.astro";
import Section from "@components/Section.astro";
---

<Layout>
    <Section className="flex flex-col items-center justify-center w-full h-full" border="">
        <span class="text-4xl sm:text-3xl">Sorry Not Found</span>
        <a class="px-5 py-2 rounded-lg bg-zinc-50 text-black mt-6 w-max" href="/">Go Back!</a>
    </Section>
</Layout>