---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
---

<Layout title="My Tech Stack">
	<Section border=''>
        <h1>Stack</h1>
    </Section>
</Layout>