---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
import WrapperList from '@components/WrapperList.astro'
import { otherstack, techstack } from '../const.ts'
import HeadingPages from '@components/HeadingPages.astro'
---

<Layout>
    <HeadingPages 
    title='My Love Tech Stacks' 
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu diam ut turpis malesuada ultrices ac sed justo. Nunc risus massa, sagittis nec molestie cursus, accumsan non tellus." 
    bgColor='bg-gradient-to-b from-indigo-500 via-purple-500 to-pink-500'/>
	<Section border=''>
        <h1 class="mb-6 text-2xl">My Stack</h1>
        <WrapperList index={techstack} x={0} y={20} />
        <h3 class="my-6 text-2xl">Other Stack</h3>
        <WrapperList index={otherstack} x={0} y={10} />
    </Section>
</Layout>