---
interface Propss {
	title: string;
	icon: string;
	href: string;
}
interface stack{
	index: Propss[];
}
const { index } = Astro.props
---

<div class="grid grid-cols-3 max-sm:grid-cols-2 gap-4 w-full">
    {index.map((list)=>(
        <a href={list.href} class="flex items-center justify-between componentStyle rounded-md px-5 py-3 group">
            <span class="flex items-center gap-3">
                <span class="bg-zinc-900 rounded-md border border-zinc-800 p-2">
                    <img width={24} height={24} src={list.icon} alt={list.title} />
                </span>
                <span>{list.title}</span>
            </span>
            <img height={24} width={24} class="hidden lg:flex fill-white group-hover:rotate-[-45deg] transition-transform ease-in-out duration-150" src="/arrow-right.svg" alt="arrow-right" />
        </a>
    ))}
</div>
