---
import TitleSection from "./ui/TitleSection.astro"
import Section from "./Section.astro"
---
<Section border="border-t-[1px]">
    <TitleSection className="flex-col" title="I love to here for you" icon="/contact.svg"/>
    <span class="text-center mx-auto text-zinc-400">Connect with me today! Let's create something amazing together.</span>
</Section>