---
interface Props{
    title: string;
    description: string;
    bgColor: string;
}
const {title, description, bgColor} = Astro.props
---

<section class={`${bgColor} relative w-full max-w-screen-lg mx-auto pt-12 lg:pt-14 xl:pt-6 border-x-[1px] border-b-[1px] border-zinc-900`}>
    <div class="max-w-screen-md mx-auto w-11/12 p-9 flex justify-center flex-col items-center bg-zinc-950 rounded-t-lg">
        <h1 class="text-4xl font-bold">{title}</h1>
        <span class="text-zinc-400 mt-3 text-center text-sm">{description}</span>
    </div>
</section>