---
import Section from "./Section.astro";
import LinkExt from "./ui/LinkExt.astro";
import InfiniteScroll from "./ui/InfiniteScroll.astro";
import {Image} from "astro:assets"
import gue from "../assets/gue.webp"
import ModeChanger from "./ModeChanger.astro";
---

<Section border="border-b-[1px]">
  <div class="flex items-center max-sm:flex-col max-sm:items-start gap-9 will-change-auto">
    <Image
    loading="eager"
      class="hidden md:flex lg:flex rounded-md w-auto max-md:h-[174px] lg:w-[220px] object-contain aspect-[3/4]"
      width={300}
      height={274}
      src={gue}
      alt="gue"
    />
  <div class={`flex flex-col gap-3`}>
    <h3 class="font-bold text-4xl ">˗ˏˋIhsanˎˊ</h3>
    <!-- <span class="textxs">
      I'm Frontend Developer <LinkExt href="/">@Kaisar.id</LinkExt>
    </span> -->
    <span class="text-zinc-400 textxs leading-relaxed pb-3">
      I'm a frontend developer and digital marketing enthusiast especially with a primary focus on SEM, SEO and Web Development using JavaScript framework.
    </span>
    <>
      <ModeChanger />
    </>
  </div>
  </div>
  <InfiniteScroll />
  </Section>