---
import Section from "./Section.astro";
import LinkExt from "./ui/LinkExt.astro";
import SubHero from "./SubHero.astro"
import InfiniteScroll from "./ui/InfiniteScroll.astro";
---

<Section border="border-b-[1px]">
  <div class="lg:flex md:flex-col items-center gap-9 max-sm:mt-16">
    <div class="flex items-center gap-9">
      <img
      class="rounded-md w-auto max-md:h-[174px]"
      width={300}
      height={274}
      src="/gue.webp"
      alt="gue"
    />
    <div class="flex flex-col gap-4">
      <h3 class="font-bold text-4xl">˗ˏˋIhsanˎˊ</h3>
      <span>
        I'm Frontend Developer <LinkExt href="/">@Kaisar.id</LinkExt>
      </span>
      <SubHero className="hidden md:hidden lg:flex" />
    </div>
  </div>
    <SubHero className="flex pt-12 lg:pt-0 lg:hidden" />
  </div>
  <InfiniteScroll />
  </Section>