---
import Section from "./Section.astro";
import LinkExt from "./ui/LinkExt.astro";
import InfiniteScroll from "./ui/InfiniteScroll.astro";
import Telegram from "./ui/Telegram.astro";
import ButtonCopy from "./ui/ButtonCopy.tsx";
import GoogleLink from "./ui/GoogleLink.astro";
import {Image} from "astro:assets"
---

<Section border="border-b-[1px]">
  <div class="flex items-center max-sm:flex-col max-sm:items-start gap-9 will-change-auto">
    <Image
    loading="eager"
      class="hidden md:flex lg:flex rounded-md w-auto max-md:h-[174px] max-sm:h-[114px] lg:w-[220px]"
      width={300}
      height={274}
      src="/gue.webp"
      alt="gue"
    />
  <div class={`flex flex-col gap-3`}>
    <h3 class="font-bold text-4xl">˗ˏˋIhsanˎˊ</h3>
    <span>
      I'm Frontend Developer <LinkExt href="/">@Kaisar.id</LinkExt>
    </span>
    <span class="text-zinc-400">
      I'm a frontend developer and digital marketing enthusiast especially with
      a primary focus on SEM, SEO and Landing page creation using
      JavaScript framework.
    </span>
    <div class="grid grid-cols-3 gap-3 max-sm:grid-cols-1 w-full pt-6 md:pt-3 lg:pt-0">
      <Telegram />
      <ButtonCopy />
      <GoogleLink />
    </div>
  </div>
  </div>
  <InfiniteScroll />
  </Section>