---
import Pulse from "./ui/Pulse.astro"
import { navlink } from "../const"
---
    <header class="w-full max-w-screen-lg mx-auto border border-zinc-900 py-4">
        <div class="flex items-center justify-between max-w-screen-md mx-auto w-full">
            <Pulse />
            <nav class="hidden lg:flex items-center gap-6">
                {navlink.map((link)=>(
                    <a class="text-zinc-400 hover:text-lime-400 transition-all duration-300 ease-linear" href={link.href}>{link.text}</a>
                ))}
            </nav>
        </div>
    </header>