---
import Pulse from "@components/ui/Pulse.astro"
import HeaderLink from "@components/HeaderLink.astro"
import { Icon } from "astro-icon/components"
import FontMode from '@components/preact/FontMode'
---
    <header class="w-full max-w-screen-lg mx-auto border-x-[1px] border-b-[1px] border-zinc-900 py-4 z-[100]">
        <div class="flex items-center justify-between max-w-screen-md mx-auto w-full px-5">
            <Pulse />
            <nav id="navbar" 
            class="navbars hidden md:flex lg:flex items-center z-50 lg:justify-end divide-dashed divide-y-[1px] last:divide-y-0 md:divide-x-[1px] md:divide-y-0 lg:divide-x-[1px] lg:divide-y-0 divide-zinc-800"
            >
                <HeaderLink href={'/'}>Home</HeaderLink>
                <HeaderLink href={'/stack'}>Stack</HeaderLink>
                <HeaderLink href={'/projects'}>Projects</HeaderLink>
                <HeaderLink href={'/themes'}>Themes</HeaderLink>
                <div class="grid gap-3 md:hidden lg:hidden xl:hidden pt-3">
                    <FontMode client:load />
                </div>
            </nav>
            <div class="flex items-center gap-2 md:hidden lg:hidden z-50">
                <span class="z-10">menu</span>
                <div class="relative left-0 flex z-50 border border-zinc-600 p-1 rounded-lg ">
                    <input type="checkbox" name="menu navbar" id="menu-toggle" class="size-8 z-50 opacity-0 cursor-pointer" aria-checked="false" aria-label="menu" />
                    <div class="absolute">
                        <Icon name="hamburger-2" width={32} height={32} />
                    </div>
                </div>
            </div>
        </div>
    </header>

    <script>
        const openNavbar = document.getElementById('menu-toggle');
        const navbar = document.getElementById('navbar');
        const navlink = document.querySelector('.navlink')
        const active = 'active'

        openNavbar.addEventListener('click', function(){
            if (openNavbar.checked){
                navbar.classList.add(active)
                navlink.classList.add(active)
            } else{
                navbar.classList.remove(active)
            }
        })
    </script>