---
import Pulse from "../components/ui/Pulse.astro"
import HeaderLink from "../components/HeaderLink.astro"
import { Icon } from "astro-icon/components"
import ModeChanger from "./ModeChanger.astro"
---
    <header x-data="{active: false}" x-init="active=window.innerWidth > 768" class="w-full max-w-screen-lg mx-auto mt-2 border-x-[1px] border-b-[1px] border-white/20 py-4 z-[100]">
        <div class="flex items-center justify-between mx-auto w-full px-5">
            
            <div class="z-50 flex items-center gap-4">
                <img class="size-8 rounded-full border-2 border-white aspect-square" src="../../src/assets/gue.webp" alt="" />
                <span class="text-2xl font-bold text-[#D9D9D9]">˗ˏˋIhsanˎˊ</span>
            </div>
            <nav :class="{'flex': active, 'hidden': !active}">
                <div
                    class="navbar grid md:flex lg:flex items-center z-50 lg:justify-end divide-dashed divide-y-[1px] md:divide-y-0 lg:divide-y-0 divide-zinc-800"
                    x-transition:enter.duration.100ms
                    x-show="active"
                    x-init={`() => {
                        const path = $el.getAttribute('data-path');
                        const checkPath = () => {
                            isActive = window.location.pathname === path ||
                                        window.location.pathname === path + '/' ||
                                        window.location.pathname === '/it' + path ||
                                        window.location.pathname === '/it' + path + '/';
                        };
                        document.removeEventListener('astro:page-load', checkPath);
                        document.addEventListener('astro:page-load', checkPath);
                    }`}>
                    <HeaderLink href={'/'}>Home</HeaderLink>
                    <HeaderLink href={'/stack'}>Stack</HeaderLink>
                    <HeaderLink href={'/projects'}>Projects</HeaderLink>
                    <div class="grid gap-3 md:hidden lg:hidden xl:hidden pt-3">
                        <ModeChanger />
                    </div>
                </div>
            </nav>
            <div class="flex items-center gap-1 z-50 md:hidden lg:hidden">
                <span class="z-10">menu</span>
                <button type="button" aria-label="button menu" class="hover:bg-zinc-800 p-1 rounded-full transitionAll" @click="active = ! active" >
                    <Icon name="hamburger-2" width={32} height={32} />
                </button>
            </div>

        </div>
    </header>


    