---
import Pulse from "./ui/Pulse.astro"
import { navlink } from "../const"
---
    <header class="w-full max-w-screen-lg mx-auto border-x-[1px] border-b-[1px] border-zinc-900 py-4">
        <div class="flex items-center justify-between max-w-screen-md mx-auto w-full px-5">
            <Pulse />
            <div class="flex items-center z-50">
                <nav id="navbar" class="flex lg:flex items-center gap-1 lg:gap-2">
                    {navlink.map((link)=>(
                        <a class="hover:text-lime-500 px-4 py-2 bg-zinc-900 hover:bg-lime-950 border hover:border-lime-500 rounded-md border-zinc-900 transitionAll" href={link.href}>{link.text}</a>
                    ))}
                </nav>
            </div>
        </div>
    </header>