---

---

<div
    x-data="{ performance }"
    class="absolute left-0">
    <p>Duration Content Loaded is :</p>
</div>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('performance', () => ({
            open: false,
 
            toggle() {
                this.open = ! this.open
            },
        }))
    })
</script>