---
import Section from '../components/Section.astro'
import NextJS from './ui/NextJS.astro'
import ReactJS from './ui/ReactJS.astro'
import TitleSection from "./ui/TitleSection.astro"
import { techstack } from '../const'
import WrapperList from './WrapperList.astro'
import ViewMore from './ui/ViewMore.astro'
import AstroBanner from './ui/AstroBanner.astro'
const skilldev = ["Landing Page", "Portfolios", "Blog", "Company Profile"]
---
<Section border=''>
    <div class="mb-6 ">
        <h1 class="text-4xl text-center mb-3 font-bold">The React Framework for the Web</h1>
    <ul class="flex items-center justify-center flex-wrap gap-3">
        {skilldev.map((items) =>(
            <li class="flex items-center justify-center px-3 py-2 rounded-md bg-zinc-950 border border-zinc-900">
                <span class="text-lime-400">#</span>
                <span class="text-zinc-400">{items}</span>
            </li>
        ))}
    </ul>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-2 md:grid-flow-row lg:grid-cols-2 lg:grid-rows-2 lg:grid-flow-col gap-3 h-auto md:h-[500px] lg:h-[500px]">
        <ReactJS gridClass='row-auto md:row-span-3 lg:row-span-3' />
        <NextJS gridClass='col-auto md:col-span-2 lg:col-span-2' />
        <AstroBanner gridClass='row-auto col-auto md:row-span-2 md:col-span-2 md:row-span-2 lg:col-span-2' />
    </div>
    <div class="">
        <TitleSection title='Tech Stack' icon='gear' className="mt-12"/>
        <WrapperList index={techstack} x={0} y={12}/>
        <ViewMore href='/stack' />
    </div>
</Section>