---
const posts = await Astro.glob('../content/themes/*.md');
import Section from "../components/Section.astro"
import TitleSection from "../components/ui/TitleSection.astro"
import ViewMore from "./ui/ViewMore.astro";
---

<Section border="border-b-[1px]">
    <TitleSection title="Themes" icon="/layout.svg"/>
    <div>
        {posts.slice(0, 4).map((post) =>(
            <article>
                <h2>{post.frontmatter.title}</h2>
                <p>{post.frontmatter.description}</p>
                <a href={post.url}>Read more</a>
            </article>
        ))}
    </div>
    <ViewMore href="/themes" />
</Section>