---
import ProjectsLayout from 'src/layouts/ProjectsLayout.astro';
import {getCollection } from 'astro:content';

export async function getStaticPaths() {
  const projects = await getCollection('Projects');
  return projects.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await post.render();
---

<ProjectsLayout {...post.data}>
  <!-- <p>{remarkPluginFrontmatter.minutesRead}</p> -->
	<Content />
</ProjectsLayout>