---

---
<nav class="flex items-center justify-between w-full px-12 py-8 border-b-[1px] border-zinc-700">
    <div>
        <a href="/">coihsan</a>
    </div>
    <ul class="flex items-center space-x-4">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/repo">Repo</a></li>
    </ul>
</nav>