---
import Segment from "../primitive/Segment.astro";
import data from "@/lib/data/stack.json";
import Card from "../primitive/Card.astro";
---

<div>
    <Segment border="border-x-[1px] border-t-[1px] border-zinc-700 bg-zinc-900" title="The React Framework for the Web" />
    
</div>
