---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro";
import Contact from "../components/Contact.astro";
import BaseHead from "./BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../const"
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Navbar />
		<main class="">
			<slot />
		</main>
		<Contact />
		<Footer />
	</body>
</html>

