---
interface Props{
    source?: any;
    preview?: any;
    clasName?: string;
}
const {source, preview, clasName} = Astro.props
import { Icon } from "astro-icon/components"
---
<div class={`${clasName} flex items-center`}>
    <a class="buttonLink" href={preview} target="_blank" rel="noopener noreferrer" aria-label="View project preview">
        <span>Preview</span>
        <Icon width={14} height={14} name="boxlink" />
    </a>
    <a class="buttonLink ml-3" href={source} target="_blank" rel="noopener noreferrer" aria-label="View project source code">
        <span>Source</span>
        <Icon width={14} height={14} name="boxlink" />
    </a>
</div>