---
interface Props{
    source?: string;
    preview?: string;
    clasName?: string;
}
const {source, preview, clasName} = Astro.props
---
<div class={`${clasName} flex items-center`}>
    <a class="buttonLink" href={preview} target="_blank" rel="noopener noreferrer">
        <span>Preview</span>
        <img  width={14} height={14} src="/boxlink.svg" alt="icon link">
    </a>
    <a class="buttonLink ml-3" href={source} target="_blank" rel="noopener noreferrer">
        <span>Source</span>
        <img  width={14} height={14} src="/boxlink.svg" alt="icon link">
    </a>
</div>