---
const isCopied = false
import { Image } from 'astro:assets';
---
<button type="button" onclick="handleCopy()" id="buttonCopy" class="bg-zinc-950 border border-zinc-900  flex items-center justify-center gap-3 px-4 py-3 rounded-md hover:bg-zinc-900 transition-colors ease-linear duration-300">
    <Image height={24} width={24} src="/src/assets/copy-alt.svg" alt="copy">
    <span id="textCopy">{isCopied ? "Copied!" : "E-Mail"}</span>
</button>

<script>
    const copyEmail = "co.ihsan@gmail.com"
    function handleCopy () {
        navigator.clipboard.writeText(copyEmail).then(() => {
        setTimeout(() => {
        }, 1000);
    });
  };
    document.getElementById('buttonCopy')?.addEventListener('click', handleCopy)
</script>

