---
const isCopied = false
---
<button type="button" onclick="handleCopy()" id="buttonCopy" class="bg-zinc-950 border border-zinc-900  flex items-center justify-center gap-3 px-4 py-3 rounded-md hover:bg-zinc-900 transition-colors ease-linear duration-300">
    <img src="/copy-alt.svg" width={24} height={24} alt="copy">
    <span id="textCopy">{isCopied ? "Copied!" : "E-Mail"}</span>
</button>

<script>
    const copyEmail = "co.ihsan@gmail.com"
    function handleCopy() {
        navigator.clipboard.writeText(copyEmail)
            .then(() => {
                document.getElementById('textCopy').textContent = "Copied!";
                setTimeout(() => {
                    document.getElementById('textCopy').textContent = "E-Mail";
                }, 1000);
            })
            .catch(error => {
                console.error("Error copying email:", error);
            });
    }
    document.getElementById('buttonCopy')?.addEventListener('click', handleCopy)
</script>

