---

---
<div class="grid grid-cols-18 grid-rows-5 grid-flow-col gap-3 h-[90px]">
    <div class="Ellipse32 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse32 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse32 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse32 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse32 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse34 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse342 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse343 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse344 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse345 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse357 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse358 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse359 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse360 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse361 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse373 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse374 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse375 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse376 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse377 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse389 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse390 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse391 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse392 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse393 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse405 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse406 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse407 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse408 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse409 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse421 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse422 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse423 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse424 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse425 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse437 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse438 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse439 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse440 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse441 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse453 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse454 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse455 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse456 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse457 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse469 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse470 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse471 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse472 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse473 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse485 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse486 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse487 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse488 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse489 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse501 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse502 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse503 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse504 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse505 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse517 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse518 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse519 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse520 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse521 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse533 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse534 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse535 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse536 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse537 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse549 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse550 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse551 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse552 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse553 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse565 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse566 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse567 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse568 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse569 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse581 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse582 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse583 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse584 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse585 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse597 w-[1px] h-[1px] bg-neutral-500 dotHover" />
    <div class="Ellipse598 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse599 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse600 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
    <div class="Ellipse601 w-[1px] h-[1px] bg-neutral-500 rounded-full" />
  </div>