---
const text = [
  "Web Development",
  "JavaScript",
  "SEM",
  "SEO",
  "Landing Page",
];
---

<div class="mt-12 overflow-hidden flex items-center justify-evenly w-full h-12 z-10">
    <ul class="flex items-center justify-between flex-nowrap gap-5 w-full px-4">
      {text.map((items) => (
        <li class="z-[-1] whitespace-nowrap textxs">
          {items}
        </li>
      ))}
    </ul>
  </div>
  