---

---
<a 
  href="https://react.dev/"
  target="_blank"
  rel="noopener noreferrer" 
  class="flex flex-col items-center justify-center drop-shadow-xl max-w-[412px] w-full h-60 bg-gradient-to-b from-zinc-950 to-sky-500/10 border border-zinc-900 rounded-lg p-5 group mx-auto group">
    <div class="flex items-center justify-center w-full">
      <img src="/public/react.svg" class="group-hover:animate-spin-slow h-14 w-14" alt="reactjs" />
    </div>
    <span
      class="flex items-end justify-between mt-6"
    >
      <div class="flex flex-col items-center">
        <h2 class="text-[1.5rem] font-bold">React.js</h2>
        <p class="text-sm text-zinc-400 text-center">
          The library for web and native user interfaces
        </p>
      </div>
    </span>
  </a>