---
import { Icon } from 'astro-icon/components';
---

<a class="bg-zinc-200 hover:bg-zinc-300 border text-zinc-950 flex items-center justify-center gap-3 px-4 py-3 rounded-md hover:bg-white transitionAll font-semibold"
      href={"https://t.me/contactihsan"}>
      <span><Icon name='telegram' width={24} height={24} /></span>
      <span class="">Telegram</span>
</a>