---
interface Props{
    href: string
}

const {href} = Astro.props
---
<a class="w-full bg-zinc-950 hover:bg-zinc-900 hover:border-zinc-800 border border-zinc-900 py-2 flex items-center justify-center mt-4 rounded-md transition-all ease-in-out" href={href}>View more</a>