---
interface Props{
    href: string
}

const {href} = Astro.props
---
<a class="w-full bg-zinc-950 border border-zinc-900 py-2 flex items-center justify-center mt-4 rounded-md" href={href}>View more</a>